body {
    background-image: url(./img/fon5.jpg);
    background-size: 100%;
   
    
}
.table-conteiner {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

header{
    background: url(../../../img/bg-header.jpg) #0f1a3a no-repeat;
    background-size: cover;
border-top: solid 1px #0f1a3a;
}
.bg-header-top{
    background-color: rgba(73,71,63, 0.6 );
    border-top: solid 1px  rgba(73,71,63, 0.6 );

}
.top-header{
    display: flex;
    justify-content: space-between;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
}
h1 a{
    display: flex;
    align-items: center;
    font-family: 'f-regular';
    font-size: 32px;
    color: #fff;
    text-transform: lowercase;
    font-weight: 400;
}
h1 .name{
    font-family: 'f-bolt';
    text-transform: capitalize;
    color: #18cfab;
}
h1 img{
    margin-right: 5px;
}
/*nav*/
header nav{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
}
header li{
    margin-right: 15px;
}
header li:last-of-type {
    margin-right: 30px;
}
header .active {
    color:  #18cfab;
}
header i{
    color: #b8b8b8;
    font-size: 22px;
}

.bg-footer{
    background-color: #1c2b33;
    margin: 0;
}
.fo-11{
    /* display: grid; */
    /* grid-template-rows:(3 1fr); */
}
.fo-11 h2{

  margin-top: 240px;
  padding-top: 10px;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
    
    margin-bottom: 0;


}
.fo-11 .c{
    color: #18cfab;
}
.fo-11 p{
    color: #b2b2b2;
}
.fo-8 p{
    text-align: center;

}




.table-style .today {background: #2A3F54; color: #ffffff;}
.table-style th:nth-of-type(7),td:nth-of-type(7) {color: blue;}
.table-style th:nth-of-type(1),td:nth-of-type(1) {color: red;}
.table-style tr:first-child th{background-color:#F6F6F6; text-align:center; font-size: 15px;}
.table-style th, .table-style td{
    height: 36.8px;
}
